.todoForm {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modernInput {
  display: block;
  width: 100%;
  font-size: 14px;
  color: black;
  border: none;
}
.modernInput:focus {
  outline: none;
}

.modernBtn {
  padding: 12px 20px;
  display: inline-block;
  background-color: #f7ca18;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
}
